/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@-webkit-keyframes rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    opacity: 1;
  }
}
@-moz-keyframes rotate-1-in {
  0% {
    -moz-transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -moz-transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -moz-transform: rotateX(360deg);
    opacity: 1;
  }
}
@keyframes rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    -o-transform: rotateX(120deg);
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    opacity: 0;
  }
}
@-moz-keyframes rotate-1-out {
  0% {
    -moz-transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -moz-transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -moz-transform: rotateX(180deg);
    opacity: 0;
  }
}
@keyframes rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    -moz-transform: rotateX(-40deg);
    -ms-transform: rotateX(-40deg);
    -o-transform: rotateX(-40deg);
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}
body,
form,
input,
textarea,
button {
  font-family: 'Oswald', sans-serif;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.rotateElement {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(13deg) rotateY(-25deg) translateZ(0px);
  -moz-transform: rotateX(13deg) rotateY(-25deg) translateZ(0px);
  -ms-transform: rotateX(13deg) rotateY(-25deg) translateZ(0px);
  -o-transform: rotateX(13deg) rotateY(-25deg) translateZ(0px);
  transform: rotateX(13deg) rotateY(-25deg) translateZ(0px);
}
.rotateElementOpposite {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(13deg) rotateY(15deg) translateZ(0px);
  -moz-transform: rotateX(13deg) rotateY(15deg) translateZ(0px);
  -ms-transform: rotateX(13deg) rotateY(15deg) translateZ(0px);
  -o-transform: rotateX(13deg) rotateY(15deg) translateZ(0px);
  transform: rotateX(13deg) rotateY(15deg) translateZ(0px);
}
.page {
  position: relative;
  height: 100%;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.page .pageContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#siteNavSwitch {
  display: none;
}
#siteNavSwitch:checked ~ #siteNav {
  max-width: 450px;
  max-height: 450px;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#siteNavSwitch:checked ~ #siteNav ul {
  display: block;
}
#siteNavSwitch:checked ~ #siteNav label i.fa-times {
  display: inline-block;
}
#siteNavSwitch:checked ~ #siteNav label i.fa-bars {
  display: none;
}
#siteNavSwitch:checked ~ #siteNav label i:hover {
  color: #cccccc;
}
#siteNavSwitch:checked ~ #siteNav:hover {
  cursor: default;
  background-color: #ffffff;
}
#siteNav {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  z-index: 15;
  width: auto;
  height: auto;
  max-width: 48px;
  max-height: 52px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#siteNav ul {
  display: none;
  list-style-type: none;
}
#siteNav ul li {
  font-size: 1em;
  padding: .75em .5em;
  color: #333333;
  border-bottom: 1px solid #d9d9d9;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#siteNav ul li p.singleLine {
  color: #333333;
  line-height: 32px;
}
#siteNav ul li p.primary {
  color: #333333;
  margin-bottom: .25em;
}
#siteNav ul li p.secondary {
  color: #595959;
  font-size: .75em;
}
#siteNav ul li .linkAnchor {
  text-decoration: none;
}
#siteNav ul li .linkLabel {
  float: left;
  height: 32px;
  width: 32px;
  padding-top: 5px;
  margin-right: 1em;
  border: 3px solid #b3b3b3;
  color: #b3b3b3;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#siteNav ul li .linkContent {
  float: right;
  text-align: right;
}
#siteNav ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#siteNav label {
  display: block;
  text-align: right;
}
#siteNav label i {
  display: inline-block;
  color: #d4b402;
  font-size: 1.6em;
  padding: .5em;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#siteNav label i.fa-times {
  display: none;
}
#siteNav label i:hover {
  cursor: pointer;
  color: #ffffff;
}
#siteNav:hover {
  cursor: pointer;
  background-color: #d4b402;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#siteNav.skills label i {
  color: #ff2652;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#siteNav.skills label i:hover {
  color: #ffffff;
}
#siteNav.skills:hover {
  background-color: #ff2652;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#siteNav.contact label i {
  color: #f08354;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#siteNav.contact label i:hover {
  color: #ffffff;
}
#siteNav.contact:hover {
  background-color: #f08354;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#nameHeader {
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  z-index: 10;
}
#nameHeader h1 {
  font-size: 3.2em;
  color: #ffffff;
  text-shadow: 0px 3px 0px #cccccc, 0px 0px 25px rgba(0, 0, 0, 0.6);
}
#nameHeader p {
  font-size: 1.4em;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  margin-top: .25em;
}
#nameHeader p i {
  margin-right: .25em;
  color: #d4b402;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#nameHeader.skills p i {
  color: #ff2652;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#nameHeader.contact p i {
  color: #f08354;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.words-wrapper b.is-visible {
  position: relative;
}
.no-js .words-wrapper b {
  opacity: 0;
}
.no-js .words-wrapper b.is-visible {
  opacity: 1;
}
.rotate-1 .words-wrapper {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
}
.rotate-1 b {
  opacity: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.rotate-1 b.is-visible {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-animation: rotate-1-in 1s;
  -moz-animation: rotate-1-in 1s;
  animation: rotate-1-in 1s;
}
.rotate-1 b.is-hidden {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-animation: rotate-1-out 1s;
  -moz-animation: rotate-1-out 1s;
  animation: rotate-1-out 1s;
}
#indexPage {
  z-index: 3;
  background-image: url("../images/pages/index/background.png");
}
#indexPage #addToTimelineMsg {
  position: absolute;
  z-index: 3;
  top: 35%;
  left: 0;
  right: 0;
  padding: 0 .5em;
  text-align: center;
}
#indexPage #addToTimelineMsg h2 {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: .5em;
  font-size: 1.8em;
  color: #ffffff;
  text-shadow: 0px 2px 0px #cccccc, 0px 0px 25px rgba(0, 0, 0, 0.6);
  line-height: 1.5em;
}
#indexPage #addToTimelineMsg a {
  display: inline-block;
  padding: .5em;
  background-color: #d4b402;
  color: #ffffff;
  border: 0px solid transparent;
  font-size: 1.4em;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#indexPage #addToTimelineMsg a i {
  margin-right: .25em;
}
#indexPage #addToTimelineMsg a:hover {
  cursor: pointer;
  background-color: #e3c102;
}
#indexPage #yuriah {
  display: none;
  position: fixed;
  right: 0;
  bottom: -25px;
  z-index: 2;
}
#indexPage #yuriah img {
  width: 100%;
  min-width: 960px;
}
#indexPageAdditional {
  z-index: 2;
  background-image: url("../images/pages/index/background.png");
}
#indexPageAdditional #summary {
  position: absolute;
  z-index: 3;
  top: 27.5%;
  left: 0;
  right: 0;
  padding: 0 .5em;
}
#indexPageAdditional #summary h2 {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: .25em;
  font-size: 2.2em;
  color: #ffffff;
  text-shadow: 0px 2px 0px #cccccc, 0px 0px 25px rgba(0, 0, 0, 0.6);
}
#indexPageAdditional #summary h2 i {
  height: 1em;
  width: 1em;
  text-align: center;
  padding: .25em;
  margin-right: .25em;
  color: #ffffff;
  border: 4px solid #ffffff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  box-sizing: content-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#indexPageAdditional #summary p {
  max-width: 960px;
  margin: 0 auto;
  font-size: 1.4em;
  color: #ffffff;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
  line-height: 1.2em;
}
#skillsPage {
  z-index: 2;
  background-image: url("../images/pages/skills/background.png");
}
#skillsPage #skillsBlock {
  position: absolute;
  z-index: 2;
  top: 27.5%;
  left: 0;
  right: 0;
  padding: 0 .5em;
}
#skillsPage #skillsBlock h2 {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: .25em;
  font-size: 2.2em;
  color: #ffffff;
  text-shadow: 0px 2px 0px #cccccc, 0px 0px 25px rgba(0, 0, 0, 0.6);
  text-align: left;
}
#skillsPage #skillsBlock h2 i {
  height: 1em;
  width: 1em;
  text-align: center;
  padding: .25em;
  margin-right: .25em;
  color: #ffffff;
  border: 4px solid #ffffff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  box-sizing: content-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#skillsPage #skillsBlock hr {
  width: 100%;
  max-width: 960px;
  border: 0px solid transparent;
  border-top: 1px dashed #ffffff;
  margin: 1em auto;
}
#skillsPage #skillsBlock #skillsHolder {
  max-width: 960px;
  margin: 0 auto;
}
#skillsPage #skillsBlock #skillsHolder #leftBlock {
  float: left;
  width: 50%;
  padding-right: 1em;
}
#skillsPage #skillsBlock #skillsHolder #rightBlock {
  float: left;
  width: 50%;
  padding-left: 1em;
}
#skillsPage #skillsBlock #skillsHolder .skill {
  color: #ffffff;
  margin-bottom: 1em;
}
#skillsPage #skillsBlock #skillsHolder .skill p {
  float: left;
  width: 50%;
  font-size: 1.2em;
  line-height: 1.6667em;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
}
#skillsPage #skillsBlock #skillsHolder .skill .skillBar {
  position: relative;
  float: left;
  width: 50%;
  height: 2em;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
}
#skillsPage #skillsBlock #skillsHolder .skill .skillBar .fill {
  display: block;
  height: 100%;
  width: 0%;
  background-color: #ff2652;
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}
#skillsPage #skillsBlock #skillsHolder .skill .skillBar .text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 2em;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(140, 0, 28, 0.75);
}
#contactPage {
  z-index: 1;
  background-image: url("../images/pages/contact/background.jpg");
}
#contactPage #contactForm {
  position: absolute;
  z-index: 1;
  top: 22.5%;
  left: 0;
  right: 0;
  padding: 0 .5em;
}
#contactPage #contactForm h2 {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: .25em;
  font-size: 2.2em;
  color: #ffffff;
  text-shadow: 0px 2px 0px #cccccc, 0px 0px 25px rgba(0, 0, 0, 0.6);
  text-align: center;
}
#contactPage #contactForm h2 i {
  height: 1em;
  width: 1em;
  text-align: center;
  padding: .25em;
  margin-right: .25em;
  color: #ffffff;
  border: 4px solid #ffffff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  box-sizing: content-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#contactPage #contactForm p {
  max-width: 960px;
  margin: 0 auto;
  font-size: 1.4em;
  color: #ffffff;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
  line-height: 1.2em;
  text-align: center;
}
#contactPage #contactForm hr {
  display: block;
  width: 100%;
  max-width: 960px;
  height: 1px;
  margin: 1.25em auto;
  border: 0px solid transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-style: dashed;
}
#contactPage #contactForm .simpleLoading {
  display: none;
}
#contactPage #contactForm #successBlock {
  display: none;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  font-size: 1em;
  background-color: rgba(118, 235, 108, 0.65);
  color: #ffffff;
  padding: .5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: .5em;
}
#contactPage #contactForm form {
  max-width: 960px;
  margin: 0 auto;
  font-size: 1.4em;
}
#contactPage #contactForm form #errorBlock {
  display: none;
  width: 100%;
  font-size: .55em;
  background-color: rgba(230, 69, 69, 0.65);
  color: #ffffff;
  padding: .5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: .5em;
}
#contactPage #contactForm form #contactSubmit {
  width: 100%;
  font-size: 1.2em;
  padding: .5em;
  color: #ffffff;
  background-color: #f08354;
  border: 0px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.6);
}
#contactPage #contactForm form #contactSubmit i {
  margin-right: .25em;
}
#contactPage #contactForm form #contactSubmit:hover {
  cursor: pointer;
  background-color: #ee723d;
}
#contactPage #contactForm form .formBlock {
  margin-bottom: .5em;
}
#contactPage #contactForm form .formBlock input,
#contactPage #contactForm form .formBlock textarea {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: .75em;
  color: #ffffff;
  border: 0px solid transparent;
  background-color: transparent;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
#contactPage #contactForm form .formBlock input::-webkit-input-placeholder,
#contactPage #contactForm form .formBlock textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
#contactPage #contactForm form .formBlock input:-moz-placeholder,
#contactPage #contactForm form .formBlock textarea:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.9);
}
#contactPage #contactForm form .formBlock input::-moz-placeholder,
#contactPage #contactForm form .formBlock textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.9);
}
#contactPage #contactForm form .formBlock input:-ms-input-placeholder,
#contactPage #contactForm form .formBlock textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
#contactPage #contactForm form .formBlock input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
#contactPage #contactForm form .formBlock textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 300px;
  background-color: rgba(51, 51, 51, 0.1);
}
#contactPage #contactForm form .formBlock.half {
  float: left;
  width: 50%;
}
#contactPage #contactForm form .formBlock.half.left {
  padding-right: .5em;
}
#contactPage #contactForm form .formBlock.half.right {
  padding-left: .5em;
}
@media (max-width: 776px) {
  html,
  body {
    background-color: ghostwhite;
  }
  .rotateElement,
  .rotateElementOpposite {
    -webkit-transform-style: none;
    -moz-transform-style: none;
    -ms-transform-style: none;
    -o-transform-style: none;
    transform-style: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .page {
    height: auto;
    background: none;
    background-color: ghostwhite;
  }
  .page .pageContent {
    position: relative;
    top: inherit;
    left: inherit;
  }
  #indexPage,
  #indexPageAdditional,
  #skillsPage,
  #contactPage {
    background: none;
  }
  #nameHeader {
    position: relative;
    top: inherit;
    left: inherit;
    width: 100%;
    padding: 20px 10px;
    border-bottom: 1px solid #DDD;
    box-shadow: 0 1px 0px 0px #FFF;
  }
  #nameHeader h1 {
    font-size: 2.6em;
    color: #666;
    text-shadow: 0px -1px 0px #ffffff;
  }
  #nameHeader p {
    color: #999;
    text-shadow: 0px -1px 0px #ffffff;
  }
  #siteNav {
    top: 1.5em;
    bottom: inherit;
  }
  #indexPage #addToTimelineMsg {
    display: block !important;
    position: relative;
    z-index: inherit;
    top: inherit;
    left: inherit;
    padding: 20px 10px;
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
    box-shadow: 0px 1px 0px 0px #FFF;
  }
  #indexPage #addToTimelineMsg h2 {
    font-size: 1.6em;
    color: #666;
    text-shadow: 0px -1px 0px #ffffff;
  }
  #indexPage #yuriah {
    display: none !important;
  }
  #indexPageAdditional #summary {
    display: block !important;
    position: relative;
    z-index: inherit;
    top: inherit;
    left: inherit;
    padding: 20px 10px;
  }
  #indexPageAdditional #summary h2 {
    font-size: 1.8em;
    color: #d4b402;
    text-shadow: 0px -1px 0px #ffffff;
  }
  #indexPageAdditional #summary h2 i {
    color: #d4b402;
    text-shadow: 0px -1px 0px #ffffff;
    border-color: #d4b402;
    -webkit-box-shadow: 0px -1px 0px 0px #ffffff;
    -moz-box-shadow: 0px -1px 0px 0px #ffffff;
    box-shadow: 0px -1px 0px 0px #ffffff;
  }
  #indexPageAdditional #summary p {
    font-size: 1.2em;
    color: #666;
    text-shadow: 0px -1px 0px #ffffff;
    line-height: 1.5em;
  }
  #skillsPage #skillsBlock {
    display: block !important;
    position: relative;
    z-index: inherit;
    top: inherit;
    left: inherit;
    padding: 20px 10px;
  }
  #skillsPage #skillsBlock h2 {
    font-size: 1.8em;
    color: #ff2652;
    text-shadow: 0px -1px 0px #ffffff;
  }
  #skillsPage #skillsBlock h2 i {
    color: #ff2652;
    text-shadow: 0px -1px 0px #ffffff;
    border-color: #ff2652;
    -webkit-box-shadow: 0px -1px 0px 0px #ffffff;
    -moz-box-shadow: 0px -1px 0px 0px #ffffff;
    box-shadow: 0px -1px 0px 0px #ffffff;
  }
  #skillsPage #skillsBlock hr {
    border-color: #CCC;
  }
  #skillsPage #skillsBlock #skillsHolder #leftBlock,
  #skillsPage #skillsBlock #skillsHolder #rightBlock {
    float: none;
    width: 100%;
    padding: 0;
  }
  #skillsPage #skillsBlock #skillsHolder .skill p {
    font-size: 1em;
    color: #666;
    text-shadow: 0px -1px 0px #ffffff;
  }
  #contactPage #contactForm {
    display: block !important;
    position: relative;
    z-index: inherit;
    top: inherit;
    left: inherit;
    padding: 20px 10px;
  }
  #contactPage #contactForm h2 {
    text-align: left;
    font-size: 1.8em;
    color: #f08354;
    text-shadow: 0px -1px 0px #ffffff;
  }
  #contactPage #contactForm h2 i {
    color: #f08354;
    text-shadow: 0px -1px 0px #ffffff;
    border-color: #f08354;
    -webkit-box-shadow: 0px -1px 0px 0px #ffffff;
    -moz-box-shadow: 0px -1px 0px 0px #ffffff;
    box-shadow: 0px -1px 0px 0px #ffffff;
  }
  #contactPage #contactForm hr {
    border-color: #CCC;
  }
  #contactPage #contactForm p {
    display: none;
  }
  #contactPage #contactForm form .formBlock.half {
    float: none;
    width: 100%;
  }
  #contactPage #contactForm form .formBlock.half.left,
  #contactPage #contactForm form .formBlock.half.right {
    padding: 0;
  }
  #contactPage #contactForm form .formBlock input,
  #contactPage #contactForm form .formBlock textarea {
    color: #999;
    padding: 5px 8px;
    background-color: #FFF;
    border: 1px solid #DDD;
    text-shadow: 0px -1px 0px #ffffff;
  }
  #contactPage #contactForm form .formBlock input::-webkit-input-placeholder,
  #contactPage #contactForm form .formBlock textarea::-webkit-input-placeholder {
    color: #CCC;
  }
  #contactPage #contactForm form .formBlock input:-moz-placeholder,
  #contactPage #contactForm form .formBlock textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #CCC;
  }
  #contactPage #contactForm form .formBlock input::-moz-placeholder,
  #contactPage #contactForm form .formBlock textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #CCC;
  }
  #contactPage #contactForm form .formBlock input:-ms-input-placeholder,
  #contactPage #contactForm form .formBlock textarea:-ms-input-placeholder {
    color: #CCC;
  }
  #contactPage #contactForm #successBlock p {
    display: block;
    text-shadow: 0px 0px 0px transparent;
  }
}
